/* Base Boostrap */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #f5efe3;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}


/* Structure Bloc Produit */


.description {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -150px;
}

.description:before {
    content: "";
    display: block;
    border-top: 200px solid transparent;
    border-right: 748px solid white;
}

.description {
	position: relative;
}

.separator-oblique {
    text-align: right;
    padding-right: 10%;
    z-index: 99;
    position: relative;	
}

/* Design Bloc Produit */

.bloc-text {
	background-color: white;
}

img {
	margin: 0 auto;
}

.portfolio-item {
	padding: 0;
}

i {
	position: absolute;
    right: 13%;
}

/* Design Bloc Description */

h3 {
	margin: 0;
}

h3 a {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}

a:hover {
	text-decoration: none;
}

p.price {
    font-weight: 700;
    font-size: 2.2em;
    padding: 18px 0;
}

p.price:before,
p.price:after {
	content:'';
	display:inline-block;
	vertical-align: middle;
	width: 4rem;
	height: 1px;
	background: #c8c7c7;
}

p.price:before {
	margin-right: 1.3rem;
}

p.price:after {
	margin-left: 1.3rem;
}

/* Design Icon Ajout Panier */

i.fa-cart-plus {
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 5%;
    font-size: 40px!important;
    background-color: #84c24a;
    color: white;
}

/* Responsive Position Icon Ajout Panier */

@media only screen and (max-width: 320px) {
	i.fa-cart-plus {top: 32%;}
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
	i.fa-cart-plus {top: 28%;}
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
	i.fa-cart-plus {top: 24%;}
}

@media only screen and (min-width: 480px) and (max-width: 601px) {
	i.fa-cart-plus {top: 14%;}
}

@media only screen and (min-width: 601px) and (max-width: 640px) {
	i.fa-cart-plus {top: 5%;}
}

@media only screen and (min-width: 640px) and (max-width: 906px) {
	i.fa-cart-plus {top: 0%;}
}

@media only screen and (min-width: 906px) and (max-width: 991px) {
	i.fa-cart-plus {top: 0%;}
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
	i.fa-cart-plus {top: 32%;}
}

@media only screen and (min-width: 1200px) {
	i.fa-cart-plus {top: 26%;}
}