/* Base Boostrap */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #f5efe3;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}


/* Structure Bloc Produit */


.description {
    width: 100%;
    overflow: hidden;
        position: relative;
    top: -150px;
}

.description:before {
    content: "";
    display: block;
    border-top: 200px solid transparent;
    border-right: 748px solid white;

}

.description {
	position: relative;
}

/* Design Bloc Produit */




img {
	margin: 0 auto;
}

.portfolio-item {
	padding: 0;
}